/*      Start Global css configurations*/
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --link-color: #e6ebff;
  
}
/*      End Global css configurations*/

/*      Start Page css configurations*/

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
body{
  overflow: hidden;
}
main.yscroll{
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  height: 100vh;
}
section{
  scroll-snap-align: start;
}
section div.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  min-height: 100vh;
}
a {
  color: #e6ebff;
  transition: 0.5s all;
}
a:hover {
  color: #fff;
  text-underline-position: unset;
}
.title {
  font-size: 60px;
  line-height: 58px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Lato";
  text-align: center;
  text-transform: uppercase;
}
.desc {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Lato";
  text-align: center;
}
.gap-bottom {
  padding: 20px;
}


/* ~~~~~~~ ~~~~~~~ ~~~~~~~ header ~~~~~~~ ~~~~~~~ ~~~~~~~ */

.header {
  position: absolute;
  top: 0%;
  width: 100%;
  z-index: 9;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  left: 0;
}
.logo {
  margin-top: 9px;
  float: left;
}
.top-nav {
  margin-top: 14px;
  float: right;
}
.anchor-link {
  display: none;
  text-align: center;
  margin-top: 16px;
  margin-right: 10px;
  float: right;
  cursor: pointer;
}
ul.simple-toggle {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
ul.simple-toggle li {
  display: inline-block;
  text-align: left;
}
li.active {
  display: inline-block;
  border-radius: 3px;
  color: var(--link-color);
  text-decoration: none;
  line-height: 24px;
  opacity: 0.6;
}
#nav .active a, ul.simple-toggle li a:hover {
  background: rgba(246, 247, 247, 0.42);
}
ul.simple-toggle li a {
  text-decoration: none;
  font-size: 1.2em;
  color: #fff;
  padding: 3em 1.8em 0.5em;
  border-radius: 4px;
}
ul > li.nav-item {
  background-origin: padding-box;
  border-bottom: 0px solid #74c7d5;
  display: inline-block;
  text-align: left;
  position: relative;
  transition: all 200ms;
}
a.nav-link {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Lato";
  text-align: right;
}


/* ~~~~~~~ ~~~~~~~ ~~~~~~~ page1 ~~~~~~~ ~~~~~~~ ~~~~~~~ */

.page1 {
  color: #fff;
  background: no-repeat url('../images/bg1.png') center center/cover;
  height: 100vh;
  width: 100%;
  display: block;
  text-align: center;
  background-size: cover;
}
.box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 840px;
  border-radius: 5px;
  background: #fff;
  opacity: 50%;
}
.GeneratedText {
  font-size: 60px;
  line-height: 65px;
  color: #74c7d5;
  font-weight: 300;
  font-family: "Lato";
  text-align: right;
  letter-spacing:0em;
}
.first{
  font-size: 129px;
  line-height: 129px;
  color: #74c7d5;
  font-weight: 900;
  font-family: "Lato";
  text-align: right;
  letter-spacing:0em;
}


/* ~~~~~~~ ~~~~~~~ ~~~~~~~ page2 ~~~~~~~ ~~~~~~~ ~~~~~~~ */

.page2 {
  color: #fff;
  background: no-repeat url('../images/bg2.png') center center/cover;
  width: 100%;
  min-height: 100vh;
  display: block;
  text-align: center;
  padding: 2em 0 2em;
  background-size: cover;
}
.service-head span b {
  color: #dd878c;
}
.service-head span {
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Lato";
  text-align: center;
  text-transform: uppercase;
  display: block;
}
.service-top {
  padding: 1em 0 0;
}
.service-grid {
  background: #c45158;
  border-radius: 5px;
  padding: 1em 1em;
}
.service-grid h5 {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 28px;
  font-weight: 300;
  font-family: "Lato";
  text-align: center;
}
.service-grid p {
  padding: 1em 0 0;
  line-height: 1.5em;
  font-size: 14px;
  line-height: 20px;
  color: #fefefe;
  font-weight: 400;
  font-family: "Lato";
  text-align: center;
}


/* ~~~~~~~ ~~~~~~~ ~~~~~~~ page3 ~~~~~~~ ~~~~~~~ ~~~~~~~ */

.page3 {
  color: #fff;
  background: no-repeat url('../images/bg3.png') center center/cover;
  width: 100%;
  min-height: 100vh;
  display: block;
  text-align: center;
  padding: 2em 0 2em;
  background-size: cover;
}
a.meet {
  text-decoration: none;
  color: #fff;
  font-size: 1.8em;
  background: #a1ca6c;
  padding: 0.5em 1.6em;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 5px;
  position: relative;
}
a.meet span {
  background: url('../images/arrow1.png') no-repeat 0px 0px;
  width: 49px;
  height: 26px;
  display: inline-block;
  position: absolute;
  bottom: -18px;
  left: 140px;
}
.team-top {
  padding: 1em 0 0;
}
.team-grid {
  border-radius: 5px;
  background-color: #4d3f4b;
  padding: 1em 1em;
  transition: 0.5s all;
  opacity: 50%;
}
.team-top-grid:hover .team-grid{
  opacity: 100%;
}
.team-grid a label {
  background: url('../images/te.png') 0px -187px no-repeat;
  width: 200px;
  height: 171px;
  display: inline-block;
  margin: 0;
  transition: 0.5s all;
}
.team-top-grid:hover a label {
  background-position: 0px 0px;
}
.team-grid h6 {
  color: #c7b6c5;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 28px;
  font-weight: 600;
  transition: 0.5s all;
}
.team-top-grid:hover .team-grid h6 {
  color: #fff;
}
.team-grid small {
  color: #a1ca6c;
  font-size: 14px;
  line-height: 28px;
  transition: 0.5s all;
}
.team-top-grid:hover .team-grid small {
  color: #df5c64;
}
ul.social {
  padding: 1em 0 0;
}
ul.social li {
  display: inline-block;
}
ul.social li a span {
  background: url('../images/img-sprite.png') 0px -35px no-repeat;
  width: 35px;
  height: 35px;
  display: block;
  transition: 0.5s all;
}
.team-top-grid:hover ul.social li.facebook a span {
  background-position: 0px 0px;
}
ul.social li.twitter a span {
  background-position: -35px -35px;
}
.team-top-grid:hover ul.social li.twitter a span {
  background-position: -35px 0px;
}
ul.social li.gmail a span {
  background-position: -70px -35px;
}
.team-top-grid:hover ul.social li.gmail a span {
  background-position: -70px 0px;
}
ul.social li.inline a span {
  background-position: -105px -35px;
}
.team-top-grid:hover ul.social li.inline a span {
  background-position: -105px 0px;
}


/* ~~~~~~~ ~~~~~~~ ~~~~~~~ page4 ~~~~~~~ ~~~~~~~ ~~~~~~~ */

.page4 {
  color: #fff;
  background: no-repeat url('../images/bg4.png') center center/cover;
  width: 100%;
  min-height: 100vh;
  display: block;
  text-align: center;
  padding: 3em 0 2em;
  background-size: cover;
}
.port-mix-bor {
  border-top: 1px solid #94b963;
  border-bottom: 1px solid #94b963;
}
.resp-tabs-list {
  float: right;
  text-align: center;
  list-style: none;
  padding: 0px;
}
.resp-tab-item {
  padding: 15px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  text-align: center;
  list-style: none;
  outline: none;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  margin: 0 0.5em 0;
}
.resp-tab-active, .resp-tab-item:hover {
  background: rgb(245, 193, 73);
}
.sp-portfolio-thumb{      
  position: relative;
}
.sp-portfolio-overlay {
  position: absolute;
  text-align: center;
  background: rgba(67, 73, 61, 0);
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sp-portfolio-thumb:hover .sp-portfolio-overlay{
  opacity: 1;
}
.sp-portfolio-thumb:hover .img-responsive{
  opacity: 0.5;
}


/* ~~~~~~~ ~~~~~~~ ~~~~~~~ page5 ~~~~~~~ ~~~~~~~ ~~~~~~~ */

.page5 {
  color: #fff;
  background: no-repeat url('../images/bg5.png') center center/cover;
  width: 100%;
  min-height: 100vh;
  display: block;
  padding: 2em 0 2em;
  background-size: cover;
}
.sit-contact h5 {
  font-size: 2.5em;
  margin: 0;
  color: #fff;
  font-weight: 300;
}
.contact-add {
  padding: 1em 0;
}
.contact-add ul li {
  list-style: none;
  font-size: 1.2em;
  color: #fff;
  padding: 0.2em 0;
  font-weight: 300;
}
.contact-add ul li span {
  font-size: 1.5em;
  color: #CFE7E3;
}
.contact-in {
  padding: 3em 0 0;
}
tr.phone td {
  list-style: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
}
tr.phone td span {
  color: #CFE7E3;
}
.map iframe {
  width: 100%;
  height: 335px;
  display: block;
  border: none;
  padding: 5em 0;
}
.contact-into h5 {
  font-size: 2.5em;
  margin: 0;
  color: #fff;
  font-weight: 300;
}
.contact-us {
  padding: 0 1em 0 0em;
}
.contact-us input[type="text"], .contact-into textarea, .send input[type="submit"] {
  font-size: 1.2em;
  width: 100%;
  padding: 0.5em 1.5em;
  margin: 0.5em 0;
  background: #68a097;
  outline: none;
  border: none;
  color: #CFE7E3;
  border-radius: 5px;
  transition: 0.5s all;
}
.contact textarea {
  resize: none;
  width: 100%;
  margin: 0.5em 0em;
}
.send {
  text-align: center;
}
.send input[type="submit"] {
  background: #df5c64;
  color: #fff;
  font-size: 1.8em;
  width: 43%;
  margin: 0.5em 0;
  -webkit-appearance: none;
  font-weight: 800;
  padding: 0.3em 1em;
  border-bottom: 3px solid #CC2829;
  border-top: none;
  border-left: none;
  border-right: none;
}
.contact-us input[type="text"]:hover, .contact-into textarea:hover {
  background-color: #f6f6f6;
}


/* ~~~~~~~ ~~~~~~~ ~~~~~~~ footer ~~~~~~~ ~~~~~~~ ~~~~~~~ */

.footer {
  background: #68a097;
  text-align: center;
  width: 100%;
  min-height: 90px;
  display: block;
  text-align: center;
  background-size: cover;
}
ul.social-icons{
  padding-top: 15px;
}
ul.social-icons li {
  display: inline-block;
}
ul.social-icons li a span {
  height: 65px;
  width: 70px;
  background: url('../images/img-sprite.png') 0px -85px no-repeat;
  display: inline-block;
}
ul.social-icons li.twitter a span {
  background-position: -71px -85px;
}
ul.social-icons li.gmail a span {
  background-position: -142px -85px;
}
ul.social-icons li.print a span {
  background-position: -212px -85px;
}
